$color__background-body: #ffffff;
$color__body-text: #1F1F1F;

$color__site-primary: #0059B2;
$color__site-primary-dark: #003366;
$color__site-secondary: #F98755;

$color__site-dark: #000;
$color__site-white: #fff;

$color__site-gray: #f2f2f2;
$color__site-lightgray: #EAF4FF;

$color__site-whatsapp-bg: #3373EE;
